html, body {
  background-color: black;
  height: 100%;
}

/* Container for note boxes */
#simon {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* Note box elements */
.note-box {
  width: 100pt;
  height: 100pt;
  margin: 0 10pt;
  border-width: 2pt;
  cursor: pointer;
}

/* 
* Adapted code from link below to make the circle with 4 segments
* 
* https://stackoverflow.com/questions/29006214/how-to-divide-a-circle-into-12-equal-parts-with-color-using-css3-javascript
*/

.simon-circle {
  position: relative;
  border: 1px solid black;
  padding: 0;
  margin: 1em auto;
  width: 20em;
  height: 20em;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
}

.simon-segment {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
}

/* Per-note styles */
#c {
    background-color: rgba(238, 0, 55, 0.4);
    transform: rotate(90deg);
}

#c.active {
  background-color: rgba(238, 0, 55, 1);
}

#c.active:hover {
  background-color: rgba(238, 0, 55, 1);
}

#c:hover {
  background-color: rgba(238, 0, 55, 0.6);
}

#d {
    background-color: rgba(255, 176, 0, 0.4);
    transform: rotate(270deg);
}

#d.active {
  background-color: rgba(255, 176, 0, 1);
}

#d.active:hover {
  background-color: rgba(255, 176, 0, 1);
}

#d:hover {
  background-color: rgba(255, 176, 0, 0.6);
}

#e {
    background-color: rgba(17, 57, 187, 0.4);
    transform: rotate(180deg);
}

#e.active {
  background-color: rgba(17, 57, 187, 1);
}

#e.active:hover {
  background-color: rgba(17, 57, 187, 1);
}

#e:hover {
  background-color: rgba(17, 57, 187, 0.6);
}

#f {
    background-color: rgba(85, 229, 0, 0.4);
    transform: rotate(0deg);
}

#f.active {
  background-color: rgba(85, 229, 0, 1);
}

#f.active:hover {
  background-color: rgba(85, 229, 0, 1);
}

#f:hover {
  background-color: rgba(85, 229, 0, 0.6);
}
